

@import url(http://fonts.googleapis.com/css?family=Cutive%20Mono:400);
p {
    font-size: 14px;
    line-height: 22.4px;
    color: #6c7279;
}
h1 {
    font-size: 65px;
    color: #2d3033;
}
h2 {
    font-size: 40px;
    color: #2d3033;
}
h3 {
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
}
h4 {
    font-size: 22px;
    color: #2d3033;
    font-weight: 400;
}
h5 {
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
}
.btn {
    background-color: #333;
    margin: 40px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 0px;
    padding: 3%;
    display: inline-block;
    text-transform: uppercase;
}
.btn:hover, .btn:focus {
    background-color: #000;
    color: #fff;
}
.btn-large {
    padding: 15px 40px;
}
/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/
a {
    color: #e84545;
}
a:hover, a:focus {
    text-decoration: none;
    -moz-transition: background-color, color, 0.3s;
    -o-transition: background-color, color, 0.3s;
    -webkit-transition: background-color, color, 0.3s;
    transition: background-color, color, 0.3s;
}
body {
    font-family: "Cutive Mono";
    font-weight: 400;
    color: #fff;
}
ul, ol {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
.section {
    padding: 50px 0;
}
.no-padding {
    padding: 0;
}
.no-gutter [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

/* ------------------------------------------------------------------------------
	 Header
-------------------------------------------------------------------------------*/
#header {
    position: fixed;
    width: 100%;
    z-index: 999;
}
#header .header-content {
    margin: 0 auto;
    padding: 50px 10%;
    width: 100%;
    height: 0px;
    -moz-transition: padding 0.9s;
    -o-transition: padding 0.9s;
    -webkit-transition: padding 0.9s;
    transition: padding 0.9s;
    opacity: 0.8;
}
#header .logo {
    float: left;
    margin-top: -40px;
    margin-right: 10px;
    margin-left: -10px;
}
#header.fixed {
    background-color: white;
    opacity: 0.8;
}

#header.fixed .nav-toggle {
    top: 18px;
}
.navigation.open {
    opacity: 0.9;
    visibility: visible;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.navigation {
    float: right;
}
#searchit{
    float: right;
    margin-top: 10px;
}
#searchit1{
    width: 205px;
    border-radius: 15px;
}
#searchit2{
    border-radius: 15px;
    color:white;
    background-color: black;
}
.navigation li {
    display: inline-block;
}
.navigation, .navigation a {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    margin-left: 40px;
    letter-spacing: -1px;
}
.navigation a:hover, .navigation a.active {
    color: #000;
}
.nav-toggle {
    display: none;
    height: 44px;
    overflow: hidden;
    position: fixed;
    right: 5%;
    text-indent: 100%;
    top: 32px;
    white-space: nowrap;
    width: 44px;
    z-index: 99999;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.nav-toggle:before, .nav-toggle:after {
    border-radius: 50%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}
.nav-toggle:before {
    background-color: #333;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.nav-toggle:after {
    background-color: #000;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
.nav-toggle span {
    background-color: #fff;
    bottom: auto;
    display: inline-block;
    height: 3px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    width: 18px;
    z-index: 10;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before, .nav-toggle span:after {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.nav-toggle span:before {
    -moz-transform: translateY(-6px) rotate(0deg);
    -ms-transform: translateY(-6px) rotate(0deg);
    -webkit-transform: translateY(-6px) rotate(0deg);
    transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
    -moz-transform: translateY(6px) rotate(0deg);
    -ms-transform: translateY(6px) rotate(0deg);
    -webkit-transform: translateY(6px) rotate(0deg);
    transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}
.nav-toggle.close-nav:after {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.nav-toggle.close-nav span {
    background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
    background-color: #fff;
}
.nav-toggle.close-nav span:before {
    -moz-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}
/* ------------------------------------------------------------------------------
	 Hero content
-------------------------------------------------------------------------------*/
.hero {
    margin-top: 10%;
}
.hero-content {
    margin-right:25px;
    margin-left: -55px;
    margin-top: 260px;
}
.hero h1 {
    font-size: 48px;
    text-transform: uppercase;
}
.hero h4 {
    font-weight: 400;
}
.hero p {
    padding-top: 20px;
}
.container1{
    margin-top: 200px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
.line  {
     border-top: 5px dashed #000;
     height: 18px;
 }

.line1  {
    border-top: 1px dashed #000;
    height: 18px;
}
/* ------------------------------------------------------------------------------
	 Footer
-------------------------------------------------------------------------------*/
.footer {
    text-align: left;
    background-color: #333;
    padding: 8%;
}
.footer h4 {
    color: #fff;
    margin: 0 0 10px 0;
    padding: 0px;
}
.footer p {
    color: #c8c8c8;
}
.footer a {
    color: #fff;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .fa-heart {
    color: #e84545;
    font-size: 11px;
    margin: 0 0px;
}
.about{
    float: right;
}
.about:hover{
    text-decoration: none;
}